/* variables */
:root {
    /* colors */
    --blue: #726EFF;
    
    --top: rgb(40,44,52);
    --top-hover: #07B59A;

    --background: #212B38;
    --foreground: #37465B;
    --interaction: #615DEE;

    --scaling: 3%;
    --fixed: 1rem;
    --radius: 9px;
    --shadow: rgb(0,0,0,0.4);

    --gap: calc(4*var(--fixed));
}

* { 
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

body {
    box-sizing: border-box;    
    margin-top: var(--gap);
    background-color: var(--background);
}

.segment {
    padding: var(--scaling);
}

hr {
    margin: var(--fixed) 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container > * {
    margin: 0 var(--fixed);
}

.grid {
    display: grid;
    grid-gap: calc(var(--fixed)/2);
    grid-template: auto/1fr 1fr;
}

/* small screen formatting */
@media screen and (max-width: 1024px) {
    nav {
        position: static;
    }

    .container {
        flex-direction: column;
    }

    body {
        margin: 0;
    }

    .grid {
        grid-template-columns: auto;
    }
}

/* scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-corner { background-color: var(--background); }
::-webkit-scrollbar-thumb { background: var(--foreground); }