.nav {
    list-style-type: none;
    padding: 0 var(--scaling);
    overflow: hidden;
    background-color: var(--green);
    position: sticky;
    top: 0;
    width: auto;
    box-shadow: 0px 3px 4px var(--shadow);
}

.button a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 8px;
    text-decoration: none;
}

.button a:hover {
    transition: background-color 1s ease;
    border-radius: var(--radius);
    margin: 4px;
    padding: 12px 4px;
    background-color: var(--green-hover);
}

.right a {
    float: right;
}