nav {
    width: 100%;
    position: fixed;
    top: 0;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: var(--top);
    box-shadow: 0 1rem 2rem var(--shadow);
}

nav a {
    font-size: large;
    font-weight: bold;
    border-radius: var(--radius);
    text-align: center;
    display: block;
    margin: var(--fixed);
    padding: var(--fixed);
    transition: background-color 500ms ease-in-out;
}

nav a:hover {
    background-color: var(--top-hover);
}