@keyframes spin {
    0% {transform: rotateX(0deg);}
    25% {transform: rotateX(90deg);}
    75% {transform: rotateX(270deg);}
    100% {transform: rotateX(360deg);}
}

h1:hover {
    animation: spin 1s;
}
