/* variables */
:root {
    /* colors */
    --blue: #726EFF;
    
    --green: #08C6AB;
    --green-hover: #07B59A;

    --background: #212B38;
    --foreground: #37465B;
    --interaction: #615DEE;

    --space: 1rem;
    --radius: 9px;
    --shadow: rgb(0,0,0,0.6);
}

* { 
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: white;
}

body {
    background-color: var(--background);
}

#home {
    padding: 64px;
    text-align: center;
    background-color: var(--green);
}

#home a {
    text-decoration: none;
}

.seperation {
    background-color: var(--green);
    padding: 0 var(--space);
}

.doc {
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.doc * {
    margin: var(--space);
}

.align {
    display: flex;
}

.align * {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container > div {
    overflow-wrap: break-word;
}

.project > div {
    padding: var(--space);
    background-color: var(--foreground);
    border-radius: var(--radius);
}

.project > div:hover {
    transition: background-color 1s;
    background-color: var(--blue);
}

.container > div > a {
    margin: 0;
    text-decoration: none;
}

#projects > .container > div {
    width: calc(50% - 4*var(--space));
}

#file {
    width: calc(100% - 4*var(--space));
}

#contact {
    padding: var(--space);
    background-color: var(--blue);
    box-shadow: 0px -2px 4px var(--shadow);
}

#contact * {
    margin: var(--space);
}

input, textarea, button {
    border-radius: calc(var(--radius)/2);
    border: none;
    padding: calc(var(--space)/2);
    background-color: var(--foreground);
}

/* small screen formatting */
@media screen and (max-width: 1024px) {
    .nav {
        position: static;
    }

    .nav a {
        float: none;
    }

    .container {
        flex-direction: column;
    }

    #projects .container > div {
        width: calc(100% - 4*var(--space));
    }
}

/* scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-thumb { background: var(--foreground); }