/* variables */
:root {
    /* colors */
    --blue: #726EFF;
    
    --top: rgb(40,44,52);
    --top-hover: #07B59A;

    --background: #212B38;
    --foreground: #37465B;
    --interaction: #615DEE;

    --scaling: 3%;
    --fixed: 1rem;
    --radius: 9px;
    --shadow: rgb(0,0,0,0.4);

    --gap: calc(4*var(--fixed));
}

* { 
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

body {
    box-sizing: border-box;    
    margin-top: var(--gap);
    background-color: var(--background);
}

#home {
    padding: 0 var(--scaling);
    background-color: var(--top);
}

#home h1 {
    padding: calc(3*var(--scaling));
    text-align: center;
    border-bottom: 0.1rem solid white;
}

.segment {
    padding: var(--scaling);
}

.segment > hr {
    margin: var(--fixed) 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.container > div {
    overflow-wrap: break-word;
}

.grid {
    display: grid;
    grid-gap: var(--fixed);
    grid-template: auto/1fr 1fr;
}

.project > div {
    margin: var(--fixed);
    padding: var(--fixed);
    background-color: var(--foreground);
    border-radius: var(--radius);
    box-shadow: 0 0 2rem 0.1rem var(--shadow);
    transition: 1s ease-in-out;
}

.project > div:hover { 
    background-color: var(--blue);
    box-shadow: 0 0 2rem 1rem var(--shadow);
}

.project p, .project h3, .project article {
    padding: var(--fixed);
}

.project li {
    padding: calc(var(--fixed)/2);
    margin-left: calc(4*var(--fixed));
}

#projects {
    padding-top: 0;
}

#contact {
    background-color: var(--blue);
    box-shadow: 0 -2rem 2rem 0.1rem var(--shadow);
}

input, textarea, button {
    border-radius: calc(var(--radius)/2);
    border: none;
    padding: calc(var(--fixed)/2);
    background-color: var(--foreground);
}

textarea::-webkit-scrollbar {
   display: none;
 }

/* small screen formatting */
@media screen and (max-width: 1024px) {
    

    .container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: auto;
    }
}

/* scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-corner { background-color: var(--background); }
::-webkit-scrollbar-thumb { background: var(--foreground); }