/* variables */
:root {
    /* colors */
    --blue: #726EFF;
    
    --green: #08C6AB;
    --green-hover: #07B59A;

    --background: #212B38;
    --foreground: #37465B;
    --interaction: #615DEE;

    --space: 16px;
    --radius: 9px;
}

* { 
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: white;
}

body {
    background-color: var(--background);
}

#home {
    padding: 64px;
    text-align: center;
    background-color: var(--green);
}

.seperation {
    background-color: var(--green);
    padding: 0 var(--space);
}

.doc {
    padding-top: var(--space);
    padding-bottom: var(--space);
}

.doc * {
    margin: var(--space);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    padding: var(--space);
    background-color: var(--foreground);
    border-radius: var(--radius);
    overflow-wrap: break-word;
}

.container > div > a {
    margin: 0;
    text-decoration: none;
}

#projects > .container > div {
    width: calc(50% - 4*var(--space));
}

#file {
    width: calc(100% - 4*var(--space));
}

#contact {
    padding: var(--space);
    background-color: var(--blue);
    box-shadow: 0px -2px 4px rgb(0,0,0,0.6);
}

#contact * {
    margin: var(--space);
}

/* small screen formatting */
@media screen and (max-width: 1024px) {
    .nav a {
        float: none;
    }

    .container {
        flex-direction: column;
    }

    .container > div {
        width: auto;
    }
}

/* scrollbar */
::-webkit-scrollbar { width: 16px; }
::-webkit-scrollbar-track { background: var(--background); }
::-webkit-scrollbar-thumb { background: var(--foreground); }