.project > div {
    box-sizing: border-box;
    margin: $spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    background-color: $foreground;
    border-radius: $radius;
    transition: 500ms ease-in-out;
}

.project > div:hover {
    background-color: $interaction;
}

.project p,
.project h3,
.project article {
    padding: $spacing;
}

.project .lang {
    font-size: large;
    font-weight: bold;
    float: right;
    margin-bottom: $spacing;
}

.md a > svg {
    display: none;
}