$fonts: 'Inter', sans-serif;
$background: #101216;
// old
// background: 212B38
// fg: 2B3A4C
// inter: 37465B
$foreground: #142832; // unused atm, previously for cards
$interaction: #14323c;
$normal-text: hsl(0, 0, 65%);
$semibold: hsl(0, 0, 75%);
$bold: hsl(0, 0, 80%);
$underline: hsl(0, 0, 50);
$highlight: $interaction;

$width: 50rem;
$spacing: 1rem;
$radius: 9px;

// * {
//     color: $normal-text;
// }

body {
    font-family: $fonts;
    background-color: $background;
    color: $normal-text;
}

p,
li,
span {
    font-size: 1.1rem;
    line-height: 1.2;
}

a,
strong {
    font-weight: 500;
    color: $semibold;
}

::selection {
    background: $highlight;
    color: white;
}

h1,
h2,
h3 {
    color: $bold;
    a {
        font-weight: unset;
    }
}

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

a {
    text-underline-position: from-font;
    text-decoration-color: $underline;
    text-underline-offset: -1px;
    text-decoration-thickness: from-font;
    transition: all 0.1s ease;
    text-decoration-style: solid;
    outline: none;
}

a:hover {
    background: $interaction;
    border-radius: 0.3rem;
}

.footer {
    font-size: small;
}

body > * {
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
}

hr {
    margin: $spacing 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container > * {
    margin: 0 $spacing;
}

.grid {
    display: grid;
    grid-gap: calc($spacing / 2);
    grid-template: auto/1fr 1fr;
}

nav {
    ul {
        list-style: none;
        padding: 0;
    }

    li > a {
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        display: block;
        padding: $spacing;
    }
}

.footer {
    margin-top: $spacing;
    margin-bottom: $spacing;
    text-align: center;
}

.md a > svg {
    display: none;
}

/* small screen formatting */
@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: auto;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $background;
}

::-webkit-scrollbar-corner {
    background-color: $background;
}

::-webkit-scrollbar-thumb {
    background: $foreground;
}

::-webkit-scrollbar-thumb:hover {
    background: $interaction;
}