$fonts: 'Inter', sans-serif;
$background: #121212;
$foreground: orange;
$normal: white;
$bold: black;
$accent: yellow;

body {
    font-family: $fonts;
    padding: 1rem;
    background-color: $background;
    color: $normal;
}

.container {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    font-size: small;
}
