// nav {
//     /* width: 100%; */
//     position: sticky;
//     top: 0;
//     background-color: $interaction;
// }

nav .container {
    align-items: center;
}

nav > ul {
    max-width: var(--width);
    justify-content: space-between;
    list-style: none;
    background-color: $background;
}

nav li > a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border-radius: var(--radius);
    text-align: center;
    display: block;
    margin: var(--fixed) 0;
    padding: var(--fixed);
    transition: background-color 300ms ease-in-out;
}

nav li > a:hover {
    background-color: $interaction;
}

.external img {
    height: 2rem;
    width: 2rem;
}

.external > a {
    margin: calc(var(--fixed)/2) ;
}

.inv {
    filter: invert(1);
}
