---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header /> -->
		<main class="prose m-16">
			<h1>I'm Asa Paparo</h1>
			<p>
				Welcome to my website! I'm an undergraduate student at MIT interested in robotics and operating systems.
			</p>
			<p>
				Currently, I'm working on the autonomous racing subteam of <a href="https://www.fsae.mit.edu/">MIT Motorsports</a>. We're developing a self driving racecar to compete in the upcoming <a href="https://www.fsaeonline.com/">Formula SAE</a> driverless challenge.
			</p>
			<p>
				I enjoy diving into rabit holes on interesting technology. Recently, this led to work on <a href="https://github.com/AngleSideAngle/nix-ros-compat">replacing</a> the <a href="https://www.ros.org/">ROS</a> build and dependency management systems with <a href="https://nix.dev/">Nix</a> and writing a <a href="https://github.com/AngleSideAngle/YADT">tool</a> to insert arbitrary development environments into arbitrary containers.
			</p>
			<p>
				In my free time, I enjoy biking and messing with my computer. I'll get to polishing and uploading my dotfiles here eventually.
			</p>
			<p>
				In high school, I was programming lead for <a href="https://www.firstinspires.org/robotics/frc">FRC</a> team 1155, the <a href="https://github.com/sciborgs">SciBorgs</a>. I occassionally volunteer to help run competitions.
			</p>
			<p>
				Find me at
				asapaparo [at] gmail [dot] com
				[at] AngleSideAngle [at] mastodon.social
			</p>
			<p>
				Or,
				https://github.com/AngleSideAngle
				https://www.linkedin.com/in/asa-paparo
				https://x.com/SideAngleAngle
			</p>
			<!-- <p> -->
				<!-- This template comes with a few integrations already configured in your -->
				<!-- <code>astro.config.mjs</code> file. You can customize your setup with -->
				<!-- <a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind, -->
				<!-- React, or Vue to your project. -->
			<!-- </p> -->
			<!-- <p>Here are a few ideas on how to get started with the template:</p> -->
			<!-- <ul> -->
				<!-- <li>Edit this page in <code>src/pages/index.astro</code></li> -->
				<!-- <li>Edit the site header items in <code>src/components/Header.astro</code></li> -->
				<!-- <li>Add your name to the footer in <code>src/components/Footer.astro</code></li> -->
				<!-- <li>Check out the included blog posts in <code>src/content/blog/</code></li> -->
				<!-- <li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li> -->
			<!-- </ul> -->
			<!-- <p> -->
				<!-- Have fun! If you get stuck, remember to -->
				<!-- <a href="https://docs.astro.build/">read the docs</a> -->
				<!-- or <a href="https://astro.build/chat">join us on Discord</a> to ask questions. -->
			<!-- </p> -->
			<!-- <p> -->
				<!-- Looking for a blog template with a bit more personality? Check out -->
				<!-- <a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a> -->
				<!-- by <a href="https://twitter.com/Charca">Maxi Ferreira</a>. -->
			<!-- </p> -->
		</main>
		<Footer />
	</body>
</html>
