---
---
<div class="md:m-8 m-4 md:pl-8 md:pr-8 md:border-l-4 md:border-r-4 border-[#14323c] border-dashed">
<article class="prose prose-slate prose-pre:max-w-[calc(100vw-2rem)] prose-h1:text-2xl dark:prose-invert">
	<slot />
</article>
</div>
