---
---
<div class="m-8 md:pl-6 md:pr-6 md:border-l-3 md:border-r-3 border-[#14323c] border-dashed">
<article class="prose prose-slate prose-h1:text-xl dark:prose-invert">
	<slot />
</article>
</div>
