---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description"content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/monokai.css">
    </head>

    <body>
        <nav>
            <ul class="container">
                {% for item in site.data.nav %}
                    <li>
                        <a href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        
        <main>
            {{ content }}
        </main>
        <div class="footer">
            <a href="https://github.com/AngleSideAngle/AngleSideAngle.github.io">source code</a>
            •
            Inspired by <a href="https://aidenybai.com/">Aiden Bai</a>
        </div>
    </body>

</html>