---
import type { MarkdownLayoutProps } from 'astro';

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
	</head>
	<body class="dark:bg-[#101216]">
		<main class="flex justify-center">
      <div class="m-8 md:pl-6 md:pr-6 md:border-l-3 md:border-r-3 border-teal-900 border-dashed">
			<article class="prose prose-slate prose-h1:text-xl dark:prose-invert">
				<slot />
			</article>
      </div>
		</main>
    <Footer />
	</body>
</html>
