---
import BaseHead from '../components/BaseHead.astro';
import Prose from '../components/Prose.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="dark:bg-[#101216]">
		<main class="flex justify-center">
      <Prose>
        <slot />
      </Prose>
		</main>
    <!-- <Footer /> -->
	</body>
</html>
